* {
  margin: 0;
  padding: 0;
}

body {
  background: #e1f2f7;
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

header {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
}

h1 {
  margin-top: 30px;
  font-size: 64px;
  letter-spacing: .1em;
}

#userstory {
  background: #d0e4ea;
  color: #6a7484;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: .1em;
  line-height: 1.5em;
  text-transform: uppercase;
  margin: 5px 0;
  padding: 12px 0;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

#questions {
  width: 60%;
  margin: auto;
  background: white;
  padding: 20px;
  border: solid 1px #000;
  border-radius: 5px;
  z-index: 1;
}

h2 {
  width: 80%;
  margin: auto;
  font-size: 24px;
  margin-top: -40px;
  text-align: center;
  background: #FFF;
  border: solid 1px #000;
  padding: 5px;
  z-index: 2;
}

h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  margin: 10px 0;
}

h4 {
  margin-top: 10px;
  background: #edf5f7;
  padding: 2px 0;
}

.answer {
  text-align: right;
  padding: 1px 0;
}
