* {
  margin: 0;
  padding: 0;
}

body {
  background: #e1f2f7;
  font-family: Raleway, sans-serif;
  font-weight: 100;
}

p {
  text-align: justify;
  font-size: 0.9em;
  color: #1f4d66;
}

header {
  background: url("background.jpg") no-repeat 0% 65%;
  background-size: cover;
  padding-top: 80px;
  height: 300px;
  opacity: 0.8;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #eaeff7;
  font-family: Raleway, sans-serif;
  font-style: italic;
  font-size: 5em;
  letter-spacing: .1em;
  text-shadow: -1px 1px 3px #3e4651;
  text-decoration: underline;
}

#topquote {
  text-align: center;
  background: #d0e4ea;
  color: #3e4651;
  font-size: 0.8em;
  font-weight: 100;
  text-shadow: 1px 1px #dce3e8;
  letter-spacing: .1em;
  line-height: 1.5em;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding: 12px 10%;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

#content {
  width: 85%;
  margin: auto;
}

#aboutme {
  background: white;
  padding: 20px;
  margin-bottom: 40px;
  border: solid 1px #000;
  border-radius: 5px;
  z-index: 1;
  width: 40%;
  box-sizing: border-box;
  float: left;
}

#profileimage {
  display: inline;
  float: left;
  max-height: 100%;
  height: 100%;
  width: 35%;
  margin-right: 10px;
  border: solid 1px #000;
  box-shadow: 1px 1px 2px #3a5666;
}

ul {
  font-size: 0.9em;
  font-weight: 900;
  padding: 20px 10px 0 10px;
  line-height: 1.5em;
  list-style-type: square;
}

ol {
  font-size: 0.9em;
  font-weight: 900;
  padding: 20px 10px 0 10px;
  line-height: 1.5em;
}

li {
  font-weight: 100;
  list-style-position: inside;
  text-decoration: none;
  color: #3a5666;
}

#questions {
  background: white;
  padding: 20px;
  margin-bottom: 40px;
  border: solid 1px #000;
  border-radius: 5px;
  z-index: 1;
  width: 58%;
  box-sizing: border-box;
  position: relative;
  float: right;
}

h2 {
  width: 80%;
  margin: auto;
  font-size: 1.5em;
  margin-top: -40px;
  margin-bottom: 10px;
  text-align: center;
  background: #FFF;
  border: solid 1px #000;
  padding: 5px;
  z-index: 2;
}

h3 {
  text-align: center;
  font-size: 0.9em;
  font-weight: 100;
}

h4 {
  color: #606c7c;
  margin-top: 10px;
  background: #edf5f7;
  padding: 2px 0;
}

.answer {
  text-align: right;
  padding: 1px 0;
}

.pink {
  color: #ff72b6;
  text-decoration: dotted underline;
}

.italic {
  font-style: italic;
}
